@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category";
}

<h1 class="display-4">Index Category</h1>
<br>
<button type="button" class="btn btn-primary my-2">Create Data</button>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var obj in Model)
        {
            int no = 0;
            no++;
            <tr>
                <td>@no</td>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
            </tr>
        }



    </tbody>
</table>